<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_email_verification</name>
    <displayName><![CDATA[Activate account by email]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Customers are forced to activate their account through email.]]></description>
    <author><![CDATA[liruqi]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>